* {
    font-size: 20px;
    text-align: center;
    color: white;
}

.headerInicial {
    background-color: #ffd900;
    width: 82%;
    height: 90px;
    margin-left: 10%;
    border-radius: 10px;
    border: solid black;
}

section {
    height: 100px;
}


/* Forma #1 Clases */

.headerSubtitulo {
    height: 52px;
    width: 80%;
    background-color: #555555;
    margin-left: 10%;
    border-radius: 10px;
    border: solid black;
}

.sectionIzquierdo {
    background-color: #ffd900;
    width: 40%;
    height: 900px;
    border-radius: 10px;
    margin-left: 10%;
    float: left;
    border: solid black;
}

.menuSectionIzquierdo {
    width: 80%;
    height: 70%;
    border-radius: 10px;
    background-color: #555555;
    border: solid black;
    margin-left: 10%;
}

.footerSectionIzquierdo {
    width: 80%;
    height: 80px;
    border-radius: 10px;
    margin-left: 10%;
    background-color: #555555;
    border: solid black;
}

.sectionDerecho {
    background-color: #ffd900;
    width: 40%;
    height: 900px;
    border-radius: 10px;
    margin-left: 10px;
    float: left;
    border: solid black;
}

.articleSectionDerecho {
    width: 90%;
    margin-left: 5%;
    border: solid black;
    border-radius: 10px;
}

.articuloContenido {
    width: 90%;
    background-color: #555555;
    height: 40px;
    border-radius: 10px;
    margin-left: 5%;
    border: solid black;
}

.parrafoArticleDerecho {
    width: 50%;
    height: 90px;
    border-radius: 10px;
    background-color: #555555;
    margin-left: 5%;
    float: left;
    border: solid black;
}

.asideArticleDerecho {
    float: left;
    width: 30%;
    height: 90px;
    margin-top: 16px;
    margin-left: 40px;
    background-color: #555555;
    border-radius: 10px;
    border: solid black;
}

.footerArticleDerecho {
    height: 40px;
    width: 90%;
    background-color: #555555;
    margin-left: 5%;
    margin-top: 130px;
    border-radius: 10px;
    text-align: center;
    border: solid black;
}

.footerFinal {
    background-color: #ffd900;
    width: 82%;
    height: 90px;
    margin-left: 10%;
    border-radius: 10px;
    margin-top: 920px;
    border: solid black;
}


/* Forma #2 Identificadores (ID)*/

#menuInicial {
    background-color: #555555;
    height: 50px;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    border: solid black;
}